@font-face {
  font-family: "Monster_buttons";
  src: url('../font/UnZialish.ttf') format("truetype");
}

html {
  font-family: "Monster_buttons";
  background-color: transparent;
}

body {
  color: white;
  text-align: center;
  font-size: 1em;
  background-color: transparent;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

#marco {
  position: absolute;
  /*background-color: #00f6ff;*/
  background-color: transparent;
  border: 12px solid transparent;
  border-width: 4%;
  -webkit-border-image: url('../img/borde.gif') 4% stretch;
  height: 80vh;
  /*z-index: 160;*/
  width: 100%;
  flex: 1 0 auto;
}

main {
  position: relative;
  height: 80vh;
  background-color: transparent;
  border: 12px solid transparent;
  border-width: 4%;
  /*background-color: #00f6ff;*/
}

#scanner {
  z-index: -1;
}

#objetivo {
  z-index: 16;
}

#proteccion, #mapa {
  display: hidden;
}

footer.page-footer {
  z-index: 16;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #13fdfe;
  background-image: url('../img/botonera.png');
  background-size: 100% 100%;
  height: 20vh;
  /*animation: nieblaPie 30s linear infinite;*/
  line-height: 0.5em;
  font-size: 1.3em;
  /*background-image: url('../img/botonera.jpg');*/
}

.botonera {
  background-image: url('../img/fondo_botonera.gif');
  background-position: center;
  background-size: 90%;
  border: none;
}

.nombreApp {
  color: #cd0000; /*#00cd00*/
  letter-spacing: .1em;
}

.desaparecer {
  opacity: 1;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

.ahora {
  opacity: 0;
}

.todoEspacio {
  height: 100%;
  width: 100%;
}
