#googlemaps {
  position: absolute;
  z-index: -1; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#radar {
  position: relative;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  z-index: 1; /* The z-index should be higher than Google Maps */
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('../img/escaneando.png');
}

.circulo {
  background: tranparent;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid #ff0000;
  border-radius: 100%;
  color: red;
  transform: translate(-50%, -50%);
  animation: expandir 5s ease infinite;
}

@keyframes expandir {
  0% {
    width: 1px;
    height: 1px;
    border: 5px solid #ff0000;
  }
  100% {
    width: 90%;
    height: 75%;
    border: 0px solid #ff0000;
  }
}

.girar {
  -webkit-animation: spin 60s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
